@font-face {
  font-family: Poppins, sans-serif;
  src: url("../assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins, sans-serif;
  src: url("../assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: Inter, sans-serif;
  src: url("../assets/fonts/inter/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter, sans-serif;
  src: url("../assets/fonts/inter/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
