.main {
  overflow: hidden;
}

.wrapper {
  &_grey {
    background-color: #f5f5f5;
  }

  &_blue-gradient {
    background: linear-gradient(180deg, #545be8 0%, #272db0 100%);
  }
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  &_promo {
    padding: 100px 0;

    @media (max-width: 767px) {
      padding: 50px 0;
    }
  }

  &_features {
    padding: 80px 0;

    @media (max-width: 767px) {
      padding: 50px 0;
    }
  }

  &_selected-course {
    padding: 155px 0;

    @media (max-width: 767px) {
      padding: 50px 0;
    }
  }

  &_available-courses {
    padding: 80px 0;

    @media (max-width: 767px) {
      padding: 50px 0;
    }
  }

  &_testimonials {
    padding-bottom: 80px;

    @media (max-width: 767px) {
      padding: 50px 0;
    }
  }
}
