<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  	<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
</head>
<body>

	<div class="page">

		<div class="mob-menu">
			<div class="mob-menu__container">
				<div class="mob-menu__inner">
					<div class="mob-menu__head">
						<button type="button" class="mob-menu__toggle"></button>
					</div>
					<div class="mob-menu__body">
						<ul class="nav-list">
							<li class="nav-list__item">
								<a href="#" target="_blank" class="nav-list__link">Home</a>
							</li>
							<li class="nav-list__item">
								<a href="#" target="_blank" class="nav-list__link">Course</a>
							</li>
							<li class="nav-list__item">
								<a href="#" target="_blank" class="nav-list__link">About Us</a>
							</li>
							<li class="nav-list__item">
								<a href="#" target="_blank" class="nav-list__link">Article</a>
							</li>
							<li class="nav-list__item">
								<a href="#" target="_blank" class="nav-list__link">Contact</a>
							</li>
						</ul>

						<div class="mob-menu__buttons">
							<a href="#" target="_blank" class="link-btn link-btn_white mob-menu__link-btn">
								<span class="link-btn__text">Log in</span>
							</a>
							<a href="#" target="_blank" class="link-btn link-btn_purple mob-menu__link-btn">
								<span class="link-btn__text">Register</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<header class="header">
			<div class="container">
				<div class="header__container">
					<div class="header__logo">
						<a href="#" target="_blank" class="header__logo-link">
							<img class="header__logo-img" src="<%=require('./src/assets/images/top-logo.png')%>">
						</a>
					</div>
					<div class="header__menu">
						<nav class="nav">
							<ul class="nav__menu">
								<li class="nav__item">
									<a href="#" target="_blank" class="nav__link nav__link_bold">Home</a>
								</li>
								<li class="nav__item">
									<a href="#" target="_blank" class="nav__link">Course</a>
								</li>
								<li class="nav__item">
									<a href="#" target="_blank" class="nav__link">About Us</a>
								</li>
								<li class="nav__item">
									<a href="#" target="_blank" class="nav__link">Article</a>
								</li>
								<li class="nav__item">
									<a href="#" target="_blank" class="nav__link">Contact</a>
								</li>
							</ul>
						</nav>
						<div class="header__buttons">
							<a href="#" target="_blank" class="link-btn link-btn_white header__link-btn">
								<span class="link-btn__text">Log in</span>
							</a>
							<a href="#" target="_blank" class="link-btn link-btn_purple header__link-btn">
								<span class="link-btn__text">Register</span>
							</a>
						</div>
					</div>
					<div class="header__toggle">
						<div class="burger">
							<div class="burger__item"></div>
							<div class="burger__item"></div>
							<div class="burger__item"></div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<main class="main">

			<div class="wrapper wrapper_grey">
				<section class="section section_promo">
					<div class="container">
						<div class="block-with-img block-with-img_row">
							<div class="block-with-img__col block-with-img__col_promo">
								<div class="block-with-img__content">
									<div class="block-with-img__tag">
										<span class="tag-text tag-text_purple">Let’s <b>Begins</b></span>
									</div>
									<div class="block-with-img__title">
										<h1 class="h-1">
											Let's Find The Right <span class="styled-text">Course</span> For you
										</h1>
									</div>
									<div class="block-with-img__description">
										<p class="p-text p-text_grey-1">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim, sem non convallis molestie.
										</p>
									</div>
									<div class="block-with-img__buttons">
										<a href="#" target="_blank" class="link-btn link-btn_margin link-btn_purple block-with-img__link-btn">
											<span class="link-btn__text">Register</span>
										</a>
										<a href="#" target="_blank" class="link-btn link-btn_margin link-btn_transparent link-btn_video block-with-img__link-btn">
											<span class="link-btn__text">Play Video</span>
										</a>
									</div>
								</div>
							</div>
							<div class="block-with-img__img-col">
								<img class="block-with-img__img block-with-img__img_top" src="<%=require('./src/assets/images/top-img.png')%>">
							</div>
						</div>
					</div>
				</section>
			</div>

			<div class="wrapper">
				<section class="section section_features">
					<div class="container">
						<div class="block-with-carousel">
							<div class="block-with-carousel__col">
								<div class="block-with-carousel__content">
									<div class="block-with-carousel__tag">
										<span class="tag-text tag-text_purple">WHAT WE GIVE</span>
									</div>
									<div class="block-with-carousel__title">
										<h2 class="h-2">
											What do You Get From Us
										</h2>
									</div>
									<div class="block-with-carousel__description">
										<p class="p-text p-text_grey-1">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim, sem non convallis molestie.
										</p>
									</div>
								</div>
							</div>
							<div class="block-with-carousel__carousel">
								<div class="carousel">
									<div class="carousel__inner">
										<div class="carousel__container">
											<div class="carousel__item">
												<div class="carousel__item-top">
													<div class="carousel__item-icon">
														<img src="<%=require('./src/assets/images/carousel-icon-1.png')%>" class="carousel__item-i">
													</div>
												</div>
												<div class="carousel__item-title">
													Professional Teacher
												</div>
												<div class="carousel__item-description">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim, sem non convallis molestie.
												</div>
											</div>

											<div class="carousel__item">
												<div class="carousel__item-top">
													<div class="carousel__item-icon">
														<img src="<%=require('./src/assets/images/carousel-icon-2.png')%>" class="carousel__item-i">
													</div>
												</div>
												<div class="carousel__item-title">
													Course Certificate
												</div>
												<div class="carousel__item-description">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim, sem non convallis molestie.
												</div>
											</div>

											<div class="carousel__item">
												<div class="carousel__item-top">
													<div class="carousel__item-icon">
														<img src="<%=require('./src/assets/images/carousel-icon-3.png')%>" class="carousel__item-i">
													</div>
												</div>
												<div class="carousel__item-title">
													Interesting learning
												</div>
												<div class="carousel__item-description">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim, sem non convallis molestie.
												</div>
											</div>

											<div class="carousel__item">
												<div class="carousel__item-top">
													<div class="carousel__item-icon">
														<img src="<%=require('./src/assets/images/carousel-icon-2.png')%>" class="carousel__item-i">
													</div>
												</div>
												<div class="carousel__item-title">
													Course Certificate
												</div>
												<div class="carousel__item-description">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim, sem non convallis molestie.
												</div>
											</div>
										</div>
									</div>
									<div class="carousel__controls">
										<button class="carousel__btn carousel__btn_prev">
											<svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10.8267 1.00003L1.33333 10.4934L10.8267 19.9867" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										</button>
										<button class="carousel__btn carousel__btn_next">
											<svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1.17334 1.00003L10.6667 10.4934L1.17334 19.9867" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>


			<div class="wrapper wrapper_blue-gradient">
				<section class="section section_selected-course">
					<div class="container">
						<div class="block-with-img block-with-img_row-reverse">
							<div class="block-with-img__col block-with-img__col_size-s">
								<div class="block-with-img__content">
									<div class="block-with-img__tag">
										<span class="tag-text tag-text_olive tag-text_upper">SELECTED COURSE</span>
									</div>
									<div class="block-with-img__title">
										<h2 class="h-2 h-2_white">
											People Taking <br> Courses
										</h2>
									</div>
									<div class="block-with-img__description">
										<p class="p-text p-text_grey-1 p-text_grey-2">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim, sem non convallis molestie.
										</p>
									</div>
									<div class="block-with-img__grid">
										<div class="small-grid">
											<div class="small-grid__item">
												<div class="small-grid__top">
													<span class="small-grid__number">6,000</span>
												</div>
												<div class="small-grid__bottom">
													<span class="small-grid__text">People Views</span>
												</div>
											</div>
											<div class="small-grid__item">
												<div class="small-grid__top">
													<span class="small-grid__number">4,000</span>
												</div>
												<div class="small-grid__bottom">
													<span class="small-grid__text">User</span>
												</div>
											</div>
											<div class="small-grid__item">
												<div class="small-grid__top">
													<span class="small-grid__number">100</span>
												</div>
												<div class="small-grid__bottom">
													<span class="small-grid__text">Course</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="block-with-img__img-col">
								<img class="block-with-img__img block-with-img__img_middle" src="<%=require('./src/assets/images/middle-img.png')%>">
							</div>
						</div>
					</div>
				</section>
			</div>

			<div class="wrapper">
				<section class="section section_available-courses">
					<div class="container">
						<div class="block-with-grid">
							<div class="block-with-grid__grid">
								<div class="courses">
									<a href="#" target="_blank" class="courses__card">
										<div class="courses__top">
											<img src="<%=require('./src/assets/images/courses-img-1.png')%>" class="courses__img">
											<div class="courses__tag">Best Course</div>
											<div class="courses__price">$ 20 USD</div>
											<div class="courses__mask"></div>
										</div>
										<div class="courses__info">
											<div class="courses__info-left">
												<div class="courses__title">HTML & CSS</div>
												<div class="courses__description">
													<div class="courses__description-item">120 Videos</div>
													<div class="courses__description-item">2 Teacher</div>
												</div>
											</div>
											<div class="courses__info-right">
												<div class="courses__views">1,500 Views</div>
											</div>
										</div>
									</a>

									<a href="#" target="_blank" class="courses__card">
										<div class="courses__top">
											<img src="<%=require('./src/assets/images/courses-img-2.png')%>" class="courses__img">
											<div class="courses__tag">Best Course</div>
											<div class="courses__price">$ 20 USD</div>
											<div class="courses__mask"></div>
										</div>
										<div class="courses__info">
											<div class="courses__info-left">
												<div class="courses__title">Photographer</div>
												<div class="courses__description">
													<div class="courses__description-item">100 Videos</div>
													<div class="courses__description-item">2 Teacher</div>
												</div>
											</div>
											<div class="courses__info-right">
												<div class="courses__views">1,500 Views</div>
											</div>
										</div>
									</a>

									<a href="#" target="_blank" class="courses__card">
										<div class="courses__top">
											<img src="<%=require('./src/assets/images/courses-img-3.png')%>" class="courses__img">
											<div class="courses__tag">Best Course</div>
											<div class="courses__price">$ 20 USD</div>
											<div class="courses__mask"></div>
										</div>
										<div class="courses__info">
											<div class="courses__info-left">
												<div class="courses__title">JavaScript</div>
												<div class="courses__description">
													<div class="courses__description-item">120 Videos</div>
													<div class="courses__description-item">2 Teacher</div>
												</div>
											</div>
											<div class="courses__info-right">
												<div class="courses__views">1,500 Views</div>
											</div>
										</div>
									</a>

									<a href="#" target="_blank" class="courses__card">
										<div class="courses__top">
											<img src="<%=require('./src/assets/images/courses-img-4.png')%>" class="courses__img">
											<div class="courses__tag">Best Course</div>
											<div class="courses__price">$ 20 USD</div>
											<div class="courses__mask"></div>
										</div>
										<div class="courses__info">
											<div class="courses__info-left">
												<div class="courses__title">Desain Grafis</div>
												<div class="courses__description">
													<div class="courses__description-item">100 Videos</div>
													<div class="courses__description-item">2 Teacher</div>
												</div>
											</div>
											<div class="courses__info-right">
												<div class="courses__views">1,500 Views</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="block-with-grid__col">
								<div class="block-with-grid__content">
									<div class="block-with-grid__tag">
										<span class="tag-text tag-text_purple tag-text_upper">AVAILABLE FOR YOU</span>
									</div>
									<div class="block-with-grid__title">
										<h2 class="h-2">
											Available Courses
										</h2>
									</div>
									<div class="block-with-grid__description">
										<p class="p-text p-text_grey-1">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim, sem non convallis molestie.
										</p>
									</div>
									<div class="block-with-grid__buttons">
										<a href="#" target="_blank" class="link-btn link-btn_purple">
											<span class="link-btn__text">See all</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<div class="wrapper">
				<section class="section section_testimonials">
					<div class="container">
						<div class="testimonials">
							<div class="testimonials__title">
								<h2 class="h-2 h-2_center">Testimonials</h2>
							</div>
							<div class="testimonials__container">
								<div class="testimonials__card">
									<div class="testimonials__info">
										<div class="testimonials__left">
											<img src="<%=require('./src/assets/images/user-img-1.png')%>" class="testimonials__user-img">
										</div>
										<div class="testimonials__right">
											<div class="testimonials__user-name">Friskidia</div>
											<div class="testimonials__user-description">Client</div>
										</div>
									</div>
									<div class="testimonials__rating">
										<div class="testimonials__star">
											<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#F1CC4A"/>
											</svg>
										</div>
										<div class="testimonials__star">
											<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#F1CC4A"/>
											</svg>
										</div>
										<div class="testimonials__star">
											<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#F1CC4A"/>
											</svg>
										</div>
										<div class="testimonials__star">
											<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#F1CC4A"/>
											</svg>
										</div>
										<div class="testimonials__star">
											<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#F1CC4A"/>
											</svg>
										</div>
									</div>
									<div class="testimonials__comment">
										“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum dapibus luctus. “ 
									</div>
								</div>
								<div class="testimonials__card">
									<div class="testimonials__info">
										<div class="testimonials__left">
											<img src="<%=require('./src/assets/images/user-img-2.png')%>" class="testimonials__user-img">
										</div>
										<div class="testimonials__right">
											<div class="testimonials__user-name">Friskidia</div>
											<div class="testimonials__user-description">Client</div>
										</div>
									</div>
									<div class="testimonials__rating">
										<div class="testimonials__star">
											<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#F1CC4A"/>
											</svg>
										</div>
										<div class="testimonials__star">
											<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#F1CC4A"/>
											</svg>
										</div>
										<div class="testimonials__star">
											<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#F1CC4A"/>
											</svg>
										</div>
										<div class="testimonials__star">
											<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#F1CC4A"/>
											</svg>
										</div>
										<div class="testimonials__star">
											<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#F1CC4A"/>
											</svg>
										</div>
									</div>
									<div class="testimonials__comment">
										“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum dapibus luctus. “ 
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>

		<footer class="footer">
			<div class="container">
				<div class="footer__container">
					<div class="footer__info">
						<div class="footer__logo">
							<a href="#" target="_blank" class="footer__logo-link">
								<img class="footer__logo-img" src="<%=require('./src/assets/images/footer-logo.png')%>">
							</a>
						</div>
						<div class="footer__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis, justo nec porttitor auctor, erat sapien faucibus lectus, vel tempor dolor augue et lectus.
						</div>
						<div class="footer__socials">
							<div class="socials">
								<ul class="socials__list">
									<li class="socials__item">
										<a href="#" target="_blank" class="socials__link">
											<img src="<%=require('./src/assets/images/facebook-icon.png')%>" class="socials__icon">
										</a>
									</li>
									<li class="socials__item">
										<a href="#" target="_blank" class="socials__link">
											<img src="<%=require('./src/assets/images/twitter-icon.png')%>" class="socials__icon">
										</a>
									</li>
									<li class="socials__item">
										<a href="#" target="_blank" class="socials__link">
											<img src="<%=require('./src/assets/images/linkedin-icon.png')%>" class="socials__icon">
										</a>
									</li>
									<li class="socials__item">
										<a href="#" target="_blank" class="socials__link">
											<img src="<%=require('./src/assets/images/instagram-icon.png')%>" class="socials__icon">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="footer__links">
						<div class="lists-wrap">
							<div class="lists-wrap__item">
								<div class="list">
									<div class="list__title">Home</div>
									<ul class="links-list">
										<li class="links-list__item">
											<a href="#" target="_blank" class="links-list__link">Product</a>
										</li>
										<li class="links-list__item">
											<a href="#" target="_blank" class="links-list__link">Course</a>
										</li>
										<li class="links-list__item">
											<a href="#" target="_blank" class="links-list__link">About Us</a>
										</li>
										<li class="links-list__item">
											<a href="#" target="_blank" class="links-list__link">Log in</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="lists-wrap__item">
								<div class="list">
									<div class="list__title">Course</div>
									<ul class="links-list">
										<li class="links-list__item">
											<a href="#" target="_blank" class="links-list__link">HTML & CSS</a>
										</li>
										<li class="links-list__item">
											<a href="#" target="_blank" class="links-list__link">Javascript</a>
										</li>
										<li class="links-list__item">
											<a href="#" target="_blank" class="links-list__link">Fotographer</a>
										</li>
										<li class="links-list__item">
											<a href="#" target="_blank" class="links-list__link">Desain Grafis</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="lists-wrap__item">
								<div class="list">
									<div class="list__title">Article</div>
									<ul class="links-list">
										<li class="links-list__item">
											<a href="#" target="_blank" class="links-list__link">New</a>
										</li>
										<li class="links-list__item">
											<a href="#" target="_blank" class="links-list__link">Old</a>
										</li>
										<li class="links-list__item">
											<a href="#" target="_blank" class="links-list__link">Trend</a>
										</li>
										<li class="links-list__item">
											<a href="#" target="_blank" class="links-list__link">Popular</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="lists-wrap__item">
								<div class="list">
									<div class="list__title">Contact Us</div>
									<ul class="links-list">
										<li class="links-list__item">
											<a href="mailto:#CCdoc123@gmail.com" target="_blank" class="links-list__link">CCdoc123@gmail.com</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>