.block-with-carousel {
	display: flex;

  @media (max-width: 767px) {
  	flex-direction: column;
  }

	&__col {
		width: 32%;
		margin-right: 25px;

	  @media (max-width: 767px) {
			width: 100%;
			margin-right: 0px;
	  }
	}

	&__carousel {
		width: 68%;

	  @media (max-width: 767px) {
			width: 100%;
			margin-top: 50px;
	  }
	}

	&__tag {
		margin-bottom: 15px;
	}

	&__title {
		margin-bottom: 15px;
	}
}