.footer {
  padding: 90px 0px 100px 0px;
  background-color: #393E46;
  overflow: hidden;

  @media (max-width: 767px) {
    padding: 50px 0px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 950px) {
      flex-direction: column-reverse;
      align-items: stretch;
      justify-content: flex-start;
      max-width: 700px;
      margin: 0px auto;
    }
  }

  &__info {
    margin-right: 80px;
    max-width: 424px;

    @media (max-width: 950px) {
      max-width: 100%;
      margin-right: 0px;
      margin-top: 70px;
    }
  }

  &__logo {
    margin-bottom: 25px;

    @media (max-width: 950px) {
      text-align: center;
    }
  }

  &__logo-link {
    display: inline-block;
    max-width: 160px;
  }

  &__logo-img {
    width: 100%;
  }

  &__text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #F4F4F4;
    margin-bottom: 40px;

    @media (max-width: 950px) {
      text-align: center;
    }
  }

  &__socials {
    display: flex;

    @media (max-width: 950px) {
      justify-content: center;
    }
  }
}