.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 23px 0;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0 0 0 / 10%);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 45px;
  }

  &__menu {
    display: flex;
    align-items: center;

    @media (max-width: 1125px) {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    margin-left: 45px;
  }

  &__link-btn {
    margin-right: 25px;
  }

  &__link-btn:last-child {
    margin-right: 0;
  }

  &__toggle {
    display: none;

    @media (max-width: 1125px) {
      display: block;
    }
  }
}
