.tag-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  &_purple {
    color: #545be8;
  }

  &_olive {
    color: #f0c932;
  }

  &_upper {
    text-transform: uppercase;
  }
}
